<div class="pag">
    <div class="centrado">

        <div class="login-section login-logo">
            <img src="../../../assets/images/GoldKids/Logo.jpg" alt="Logo">
        </div>

        <div class="login-section login-inputs">
            
            <div>
                <h3>Iniciar sesión</h3>
            </div>
            
            <div>
                <form autocomplete="off" [formGroup]="loginForm">
                    <input 
                        type="email"
                        placeholder="Email"
                        formControlName="email"
                    >
                    <span *ngIf="validar('email')" class="form-text text-danger login-error">
                        El email proporcionado no es un email válido.
                    </span>
                    <input 
                        type="password"
                        placeholder="Contraseña"
                        formControlName="password"
                    >
                    <span *ngIf="validar('password')" class="form-text text-danger login-error">
                        La contraseña es un campo obligatorio.
                    </span>
                </form>
            </div>

            <div class="login-button">
                <button type="submit" (click)="login()">Iniciar sesión</button>
                <!-- <a href="#">Olvidé mi contraseña</a> -->
            </div>

        </div>

    </div>
</div>
