<div class="dn-container">

    <div class="dn-inicio">
        <h2>Nosotros</h2>
    </div>

    <div class="dn-center">
        
        <div class="dn-text">
            <h4>MISIÓN</h4>
            <p>Gold Kids INC., es una empresa de ropa infantil y de naturaleza familiar, pues el proceso de confecciones en sus diferentes formas, ha evolucionado a través de los años de padre a hijos y de estos a las actuales generaciones, para garantizar la nobleza y la calidad en el tratamiento empresarial, la innovación en los diseños para darle satisfacción a un público exigente, tanto nacional como internacional y seguir creciendo con honestidad, exhibición y buen gusto. Conservando en el tiempo el primer lugar que nos caracteriza en el trabajo hecho a mano.</p>

            <h4>VISIÓN</h4>
            <p>
                Gold Kids INC. pretende posicionarse como una empresa única, en la moda de ropa infantil local y el mundo de la moda en el mercado de ropa infatil. <br> <br>
                
                Mediante una labor con valores y principios que garanticen la permanencia y el crecimiento continúo en el en el mundo de la moda con la originalidad de la ropa y exclusividad de nuestros diseños. <br> <br>
                
                Orientada a un público exigente, amante del a la moda, del trabajo hecho a mano y convencido de que es poseedor de una prenda específica, de buena calidad, bien tratada, con un manejo familiar y generacional que dan a más de un valor agregado la particularidad de ser ropa infatil única
            </p>

            <h4>POLÍTICAS DE CALIDAD</h4>
            <p>Gold Kids INC. seguirá proyectando como política de desarrollo integral, el trabajo en equipo, con los demás negocios del mercado del mundo de la moda; mediante el fortalecimiento y mejoramiento continuo de los diferentes procesos, para satisfacer las expectativas de un público exigente y amante de la moda.</p>

            <h4>PROCESOS DE CALIDAD</h4>
            <p>Fortalecer los sistemas de control, diseño y calidad en los diferentes procesos de comercialización, innovación y posicionamiento de la ropa infantil en el contexto local, nacional y mundial, para satisfacer a un público creciente y exclusivo en la Gold Kids.</p>

        </div>

    </div>

</div>
