<div class="dn-container">

    <div class="dn-inicio">
        <h2>Servicios</h2>
    </div>

    <div class="dn-center">
        
        <div class="dn-text">
            
            <h4>REPARACIÓN DE PRENDAS</h4>
            <p>
                Ofrecemos servicio de reparación de Prendas, los cuales son realizados por expertos Confeccionistas de tradición utilizando tecnología de punta. Para nosotros es muy importante su satisfacción y que sus Prendas tengan una larga vida de uso, por lo cual solo usamos materiales de la mas alta calidad para todas nuestras fabricaciones y reparaciones. Entre nuestros servicios de reparación se encuentran: <br><br>

                Reparación general de Prendas <br><br>
                
                Reducción o ampliación de Prendas
            </p>

        </div>

    </div>

</div>
