tr{

color:white;
border: white 2px solid;

}

img{

width: 150px;
height: 150px;


}

td{

 margin-left: 5px;


}

table{

  
    border-collapse: separate;
    border-spacing: 100px 7px;
    border: rgb(238, 151, 79) 5px solid;
}

div{

    background-color: black;
    justify-content: center;
    display: flex;
}

.icolors, .icheck-list 
{
  padding: 0;
  margin: 0;
  list-style: none; 
}

.icolors > li 
{
  padding: 0;
  cursor: pointer;
  margin: 2px;
  float: left;
  display: inline-block;
  height: 30px;
  width: 30px;
  background: #263238;
  text-align: center; 
}

.icolors > li.active:after 
{
  content: "\2713 ";
  color: #ffffff;
  line-height: 30px; }

.icolors > li:first-child 
{
  margin-left: 0; 
}

td button{
    border-radius: 10px;
    font-weight: bold;
}