
<div>

    <table>

        <tr>
        <td>Nombre</td>
        <td>Imagen</td>
        <td>Talla</td>
        <td>Color</td>
        <td>Cantidad</td>
        <td>Total</td>
        <td></td>
        </tr>
        
        <tr *ngFor="let pedido of infoProductos; index as i">
        <td>{{ pedido.nombre }}</td>
        <td><img [src]="pedido.imagen" [alt]="pedido.nombre"></td>
        <td>{{ pedido.talla }}</td>
        <td><div class="input-group">
            <ul class="icolors">
                <li 
                    [ngStyle]="{'background-color': pedido.color}"
                    >
                </li>
                
            </ul>
        </div></td>
        <td>{{ pedido.cantidad }}</td>
        <td>{{ pedido.total }}</td>
        <td><button (click)="eliminarProducto(i)">Eliminar</button></td>

        </tr>

        
        
        
        </table>

</div>

