<div class="dn-container">
     <div class="contededor">

     <div class="dn-center">

             <div class="tabla">
                        <h2>Conjunto niña</h2>
                        <img src="../../../assets/images/GoldKids/prendas/conjuntonias/2A.jpg" alt="">
                        <p>Tallas:2,3,4,6,8,10</p>
                        <p>Cantidad:1</p>
                        <h3>24900 <sup>$ </sup></h3>
                        <a href=""class="boton">Eliminar</a>
                </div>
                <div class="tabla">
                        <h2>Conjunto niña</h2>
                        <img src="../../../assets/images/GoldKids/prendas/conjuntonias/1A.jpg" alt="">
                        <p>Tallas:1,2,4,6</p>
                        <p>Cantidad:1</p>
                        <h3>34000 <sup>$ </sup></h3>
                    <a href=""class="boton">Eliminar</a>
                </div>

                <div class="tabla">
                        <h2>Conjunto niña</h2>
                        <img src="../../../assets/images/GoldKids/prendas/conjuntonias/3A.jpg" alt="">
                        <p>Tallas:1,2,4,6</p>
                        <p>Cantidad:1</p>
                        <h3>24900 <sup>$ </sup></h3>
                    <a href=""class="boton">Eliminar</a>
                </div>

                <div class="tabla">
                    <h2>Conjunto niña</h2>
                    <img src="../../../assets/images/GoldKids/prendas/conjuntonias/3A.jpg" alt="">
                    <p>Tallas:1,2,4,6</p>
                    <p>Cantidad:1</p>
                    <h3>24900 <sup>$ </sup></h3>
                <a href=""class="boton">Eliminar</a>
            </div>

            <div class="tabla">
                <h2>Conjunto niña</h2>
                <img src="../../../assets/images/GoldKids/prendas/conjuntonias/3A.jpg" alt="">
                <p>Tallas:1,2,4,6</p>
                <p>Cantidad:1</p>
                <h3>24900 <sup>$ </sup></h3>
            <a href=""class="boton">Eliminar</a>
        </div>

        <div class="tabla">
            <h2>Conjunto niña</h2>
            <img src="../../../assets/images/GoldKids/prendas/conjuntonias/3A.jpg" alt="">
            <p>Tallas:1,2,4,6</p>
            <p>Cantidad:1</p>
            <h3>24900 <sup>$ </sup></h3>
        <a href=""class="boton">Eliminar</a>
    </div>

    <div class="tabla">
        <h2>Conjunto niña</h2>
        <img src="../../../assets/images/GoldKids/prendas/conjuntonias/3A.jpg" alt="">
        <p>Tallas:1,2,4,6</p>
        <p>Cantidad:1</p>
        <h3>24900 <sup>$ </sup></h3>
    <a href=""class="boton">Eliminar</a>
</div>

<div class="tabla">
    <h2>Conjunto niña</h2>
    <img src="../../../assets/images/GoldKids/prendas/conjuntonias/3A.jpg" alt="">
    <p>Tallas:1,2,4,6</p>
    <p>Cantidad:1</p>
    <h3>24900 <sup>$ </sup></h3>
<a href=""class="boton">Eliminar</a>
</div>

<div class="tabla">
    <h2>Conjunto niña</h2>
    <img src="../../../assets/images/GoldKids/prendas/conjuntonias/3A.jpg" alt="">
    <p>Tallas:1,2,4,6</p>
    <p>Cantidad:1</p>
    <h3>24900 <sup>$ </sup></h3>
<a href=""class="boton">Eliminar</a>
</div>

                

          </div>

        </div>
 </div>