<div class="dn-container">

    <div class="dn-center">
      
      <!-- Imagen -->
  
        <div class="dn-div50 dn-img">
            <img [src]="producto.imagen" [alt]="producto.nombre">
        </div>
  
      <!-- Descripción -->
  
        <div class="dn-div50 dn-info">
        
            <h3>{{producto.nombre | titlecase}}</h3>
    
            <b>Descripción</b>
            <p>{{producto.descripcion}}</p>
  
            <b>Género</b> 
            <i [class]="producto.genero | genero"></i>

            <b>Talla</b> 

            <form [formGroup]="carritoForm">
                <select aria-label="Selecciona una talla" formControlName="talla">
                    <option value="" selected>Selecciona una talla</option>
                    <option *ngFor="let talla of tallas" [value]="talla">{{talla}}</option>
                </select>
            </form>
    
            <b>Colores disponibles</b> 
            <div class="input-group">
                <ul class="icolors">
                    <li 
                        *ngFor="let color of colores"
                        [className]="(this.colorSeleccionado === color)? 'active' : ''"  
                        [ngStyle]="{'background-color': color}"
                        (click)="seleccionarColor(color)" >
                    </li>
                    
                </ul>
            </div>
  
            <b>Cantidad</b>
            <div class="btn-cantidad">
                <button (click)="cambiarCantidad(false)">-</button>
                <input type="number" min="1" [value]="cantidad">
                <button (click)="cambiarCantidad(true)">+</button>
            </div>
        
            <b>Precio unitario</b>
            <p>{{producto.precio}}</p>
    
            <b>Total</b>
            <p>$ {{ producto.precio*cantidad }}</p>
    
            <button class="btn" (click)="agregarAlCarrito()">Añadir al carrito!</button>
  
        </div>
  
    </div>
  
</div>
  