


<header>
   <img src="../../../assets/images/pez.jpeg" alt="">
<nav>
<ul>
<li> <button routerLink="inicio">INICIO</button></li>
<li><button routerLink="nosotros">NOSOTROS</button></li>
<li><button routerLink="servicios">SERVICIOS</button></li>
<li><button routerLink="contacto">CONTÁCTANOS</button></li>
</ul>
<div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <img src="../../../assets/images/carritoc.png"  alt="">
            <div id="carrito" class="dropdown-menu" aria-labelledby="navbarCollapse">
                <table id="lista-carrito" class="table">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <button routerLink="inicio">Vaciar Carrito</button>
                <button routerLink="inicio">Confirmar compra</button>
            </div>
        </li>
    </ul>
</div>

</nav>
</header>



